.button{
    text-decoration: none;
    display: inline-flex;
    padding: 15px;
    background: rgba(0, 8, 2, 0.671);
    border: 1px solid dimgray;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 2px 2px green;
    color: var(--fontcolor);
    margin: 3px;
}
.padText{
    padding-left: 10px;
}