:root {
  --thickGrayBorder: 2px solid dimgray;
  --fontstyle: "DejaVu serif", sans-serif;
  --fontcolor: dimgrey;
}
html,
body {
  background: #050505 url(/images/back.png) ;
  background-repeat: repeat;

  
  margin: 0;
  font-family: var(--fontstyle);
  font-size: 17px;
  color: var(--fontcolor);
  line-height: 1.6;
}
.col {
  padding: 15px;
  flex: 1;
  margin: 3px;
}
.column1 {
  border-left: var(--thickGrayBorder);
  @media only screen and (max-width:  768px) {
    border-left: none;
  }
}
.column2 {
  border-left: var(--thickGrayBorder);
  border-right: var(--thickGrayBorder);
  @media only screen and (max-width:  768px) {
    border-right: none;
    border-left: none;
    border-top: var(--thickGrayBorder);
    border-bottom: var(--thickGrayBorder);
  }
}
.column3 {
  border-right: var(--thickGrayBorder);
  @media only screen and (max-width:  768px) {
    border-right: none;
  }
}
.logo-centered {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.row {
  padding: 20px;
  text-align: center;
  margin: 2px;
  border-top: var(--thickGrayBorder);
  border-bottom: var(--thickGrayBorder);
  margin-top: 0px;
}

a {
  text-decoration: none;
  display: inline-flex;
  padding: 15px;
  background: rgba(0, 8, 2, 0.671);
  border: 1px solid dimgray;
  border-radius: 4px;
  font-size: 16px;
  color: var(--fontcolor);
  margin: 3px;
}

.heading {
  position:relative;
  .bg{
    // z-index: -1;
    position: absolute;
  background: rgb(133, 140, 136);
  background-repeat: no-repeat;
  background-position-x: 400px;
  background: radial-gradient(
    circle,
    rgba(133, 140, 136, 1) 20%,
    rgba(0, 0, 0, 0) 65%
  );
  width: 100%;
  height: 210px;
  top:35px;
  
  left: 0;
  bottom: 0;
  right: 0;
  animation:shiny_like_the_moon 3s forwards;
  // margin: auto;
  @keyframes shiny_like_the_moon {
  
    from{
      width: 0%;
      margin: 0px 50%; 
      opacity: 0.0
    }
 
    to{
      width: 100%;
      margin: 0px 0%;
      opacity: 1.0;
    }
  }
}

  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: none;
  width: 100%;
  
}
.icon {
  padding-right: 10px !important;
}
h2 {
  font-family: var(--fontstyle);
  font-size: 17px;
  color: green;
}
h1 {
  z-index: 1;
  margin-top: 138px;
  font-family: var(--fontstyle);
  font-size: 30px;
  color: black;
  text-align: center;
  text-shadow: 2px 2px green;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-width: 1000px;
  align-items: center;
  @media only screen and (max-width:  768px) {
    justify-content: unset;
    align-items: unset;
  }
}
.outer{display: flex;
  justify-content: center;
  flex-direction: row;
  @media only screen and (max-width:  768px) {
    justify-content: unset;
    align-items: unset;
  }}
.flex-d-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width:  768px) {
  :root {
    --bordernone: none;
  }
  .flex-m-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.menuBar {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2px;
  color: rgb(221, 216, 216);
  border: none;
  background: none;
  background-color: black;
  
}
input,
textarea {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgba(105, 105, 105, 0.287);
  border: 1px solid dimgray;
  color: var(--fontcolor);
}

form {
  display: flex;
  flex-direction: column;
}
.onSubmit {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: var(--fontcolor);
  div {
    opacity: 0;
    transition: opacity 0.8s linear;
    &.Success {
      opacity: 1;
    }
  }
}
label {
  color: green;
  font-size: 17px;
}

.communityInput {
  height: 100px;
}
input[type="checkbox"] {
  width: auto;
}
button {
  background-color: rgb(19, 17, 17);
  color: rgb(221, 216, 216);
}
.logo{

  position:absolute !important;
  // top:100%;
  // opacity:0;
  animation:load_up 3s forwards;
  // opacity:0;top:100%;
  width:150px;
  height:138px;
}

@keyframes load_up{
  from{opacity:0;top:245px}
  to{opacity:1;top:35px}
  
}
main{
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
  padding: 15px;
}